<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title id="page-title">数据库小组管理平台</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" /> -->
    <link href="{{ static_url ("assets/plugins/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" />
    <link href="{{ static_url ("assets/plugins/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" />
    <link href="{{ static_url ("assets/css/animate.min.css") }}" rel="stylesheet" />
    <link href="{{ static_url ("assets/css/style.min.css") }}" rel="stylesheet" />
    <link href="{{ static_url ("assets/css/style-responsive.min.css") }}" rel="stylesheet" />
    <link href="{{ static_url ("assets/css/theme/default.css") }}" id="theme" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{{ static_url ("assets/plugins/pace/pace.min.js") }}"></script>
    <!-- ================== END BASE JS ================== -->
    {% block extra_styles %}    
    {% end %}

</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        {% include head.html %}        
        {% block content %}
        {% end %}
        {% include footer.html %}
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{{ static_url ("assets/plugins/jquery/jquery-1.9.1.min.js") }}"></script>
    <script src="{{ static_url ("assets/plugins/jquery/jquery-migrate-1.1.0.min.js") }}"></script>
    <script src="{{ static_url ("assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js") }}"></script>
    <script src="{{ static_url ("assets/plugins/bootstrap/js/bootstrap.min.js") }}"></script>

     <!--[if lt IE 9]>
        <script src="{{ static_url ("assets/crossbrowserjs/html5shiv.js") }}"></script>
        <script src="{{ static_url ("assets/crossbrowserjs/respond.min.js") }}"></script>
        <script src="{{ static_url ("assets/crossbrowserjs/excanvas.min.js") }}"></script>
    <![endif]-->
    <!-- ================== END BASE JS ================== -->
    
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <!-- ================== END PAGE LEVEL JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{{ static_url ("assets/js/apps.js") }}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    {% block extra_scripts %}
    {% end %}
</body>
</html>
